/* Sidebar */

.sidebar-icon_btn_div{
  display: flex;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;

}

/* .sidebar-icon_btn_div i {
  -webkit-text-stroke: 0.5px ;
} */

.sidebar-icon_btn_div:hover{
  background-color: rgb(235, 238, 238);
}

/* Navbar */

.navbar-ham_icon{
  cursor: pointer;
}
.navbar-dropdown{
  position: absolute; background-color: white; z-index: 2;
  text-align: left; border-radius: 5px; width: 250px;
  margin-top: 2%;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, .2);
}
.navbar-dropdown i:hover, .navbar-dropdown li:hover{
  background-color: rgba(235, 238, 238);
}
.navbar-dropdown hr{
  font-size: 0.3px; margin: 0;
}
/* Videos */

.videos-title{
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box; 
  overflow: hidden;
  text-overflow: ellipsis;
  
}

/* Search */

.search-img:hover{
  cursor: pointer;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

/* Channel Details */
.channelDet-options{
  cursor: pointer; font-weight: bold; color: rgb(107, 107, 107); padding: 1%;
  font-size: 14.3px;
}
.channelDet-options:hover{ color: rgb(63, 63, 63);}

/* Video Details */
.vidDetail-react_player{
  /* height: 77vh !important; */
  width:100% !important;
  height: 100% !important;
}
.overlay{
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  z-index: 1;
  left:0;
  top:0;
  background-color: rgba(0, 0, 0, 0.45);
}

.overlay-content{
  position: relative;
  width: 100%;

}