#root {
  font-family: sans-serif;
  /* , Inter, system-ui, Avenir, Helvetica, Arial, ; */
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.fade-animation {
  animation: fadeOpacity 0.4s infinite alternate;
}

@keyframes fadeOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
